<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h><a href="">Django Girls Blog</a> </h>
        </div>

        <div>
            <p>publisehd: 14.06.2015</p>
            <h2><a href="">My first post</a> </h2>
            <p>Aenean eauaf wejklr weklrjlkrj qejwkwqj ;ejqw;jwq;klwqejkl wqe</p>
        </div>

        <div>
            <p>publisehd: 01.1:2014</p>
            <h2><a href="">My second post</a></h2>
            <p>ajfk qwklje lqwkej qlkqwe qwlk eqw</p>
        </div>
    </body>
</html>